*{
    margin: 0;
    padding:0;
    box-sizing: border-box
}

nav{
    display: flex;
    justify-content: space-between;
    background-color:#DECCCC;
    height: 120px;
    width: 100%;
}
.logo{
    display: flex;
    width: 76px;
    height: 120px;
    padding-left: 20px;
}
.enlaces{
    background-color:#DECCCC;
    display: flex;
    align-items: center;
}
.enlace{
    font-family: 'Oswald', sans-serif;
    padding-right: 10px;
    justify-content: flex-end;
    text-decoration: none;
    color: grey;
    cursor: pointer;
    -webkit-text-size-adjust: 100%;
    font-size: 35px;
}
main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    flex-wrap: wrap;
}
.inicio_section{
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 8rem 15rem;
    flex-wrap: wrap;
    

}
.img_tele{
    width: 45%;
    flex-wrap: wrap;
}
.seccion{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 25vw;
    background-color: antiquewhite;
    border-radius: 5%;
    border: solid;
}
.titulo_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:20px ;
    width: 50%;
    height: 50%;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin: 3px;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin: 2px;
}
.tele{
    margin-top: 6px;
    font-size: 30px;
}
.img_tele:hover {
    transform: scale(1.1);
    transition: 1s;
}
.logo:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

.para_informacion{
    flex-direction: row;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 50px;
    background-color:darksalmon;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}
.para_informacion:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.5)
  }
.chiches{
    margin: 0px;
    padding: 3rem 88rem;  
    background-color: antiquewhite;
}
.card_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 30px;
    padding: 5% 25% 5% 25%;
    align-self: center;
    text-align: center;
    color: black;
    background: cornflowerblue;
}
.card_container i {
    font-size: 50px;
}
.p_card{   
     margin-top: 3px;
    font-size: 20px;
}
.enlace:hover{
    color: beige;
}
.enlace:active{
    color: aqua;
} 
/*section de contacto*/
.tituloSS{
    width: 100%;
    margin: auto;
    color: black;
    font-weight: bold;
    background-color: #DECCCC;
    padding: 0.5rem 1rem;
   
}
.contactosss{
    width: 100%;
    margin: auto;
    display:flex;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.orden_cotactos{
    padding: 1rem;
    gap: 1rem;
}
.Contact-form{
    max-width: 850px;
    display: flex;
    justify-content: flex-start;
}
.input.espacio {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
.input-espacio, .msg {
    width: 48%;
}
.input-espacio input, .msg textarea {
    margin: 10px 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid darksalmon;
    padding: 25px;
    color: black;
    width: 95%;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.msg textarea {
    height: 220px;
}
::-webkit-input-placeholder {
    color: black;
}
.btn button {
    list-style: none;
    border: none;
    background-color: darksalmon;
    padding: 0.5rem;
    margin-right: 1.6rem;
    border-radius: 5px;
    font-weight: bold;
    color: darkblue;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
    float: right;
    font-family: 'Oswald', sans-serif;
    margin-top:200px ;
    
}
.btn button:hover {
    background-color: white;
}
.mapa {
    width: 350px;
    height: 270px;
    background-color: black;
    margin-right: 2rem;
    overflow: hidden;
}
/*Footer*/
footer {
    background-color: #DECCCC;
}
.redes {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.redes a {
    color: black;
    padding: 1rem 1rem;
    display: block;
}
.redes a:hover {
    color: white;
}